<a href="https://colab.research.google.com/github/Zeenat85/Python_for_Data_Analysis/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The High Level**

Python is a interpreted, high level programming language created by Dutch programmer Guido van Rossum and released in 1991.

Python is old. It gained a lot of attraction around 2006, with its popularity being driven its beauty and simplicity to do Web Development (its main Web Development Framework, Django, was released in 2006). From there, it took off as one of the most popular scripting languages.

Python is multi-paradigm: you can write code using Object Oriented, Functional and/or Imperative programming. Python is interpreted and uses a dynamic type system, although considered strongly typed.
It has an extensive builtin standard library with features that ranges from time management, to http servers, concurrency and async programming.
Python is Open Source and is managed by a non-profit organization: the Python Software Foundation.

**Python 3 vs Python 2**

You might have heard that there are two main versions of Python around: Python 2 and Python 3. Well, I'll keep it simple:
Python 3: YES!
Python 2: NO!
Python 2 was deprecated in 2020. So stick to Python 3, it's the present and the future of the language.

**Syntax Overview**

The following paragraphs will be dedicated to Python's syntax and technical details. There are more to Python than just syntax, as its community, events, email lists, etc. But after all, this is just a technical introduction. Indentation based
This might feel weird at first, but in Python we do NOT use curly braces to denote blocks of code. We use "indentation" instead. This is similar to Ruby.
For example, this is a very simple add_numbers function in javascript:
function add_numbers(x, y){
}
Return x + y

In [ ]:
def add_numbers(x, y):
    return x + y

In [ ]:
# try changing "Python" to something else.
# Don't remove the quotes.
language = "Python"

if language == "Python":
  print("Let the Fun begin!")
else:
  print("You sure?")

Let the Fun begin!

**Comments**

It's prefixed with hashtag sign

In [ ]:
# this is a comment

In [ ]:
# it doesn't produce any output

In [ ]:
# can be above..
print("Hello World")
# or can be below

Hello World

**Variables**

In python you can set a variable at any time, in any block of code, by just assigning a valid name to any value we want.

Variables once set can be preserved

In [ ]:
name = "Zeenat"
print(name)

Zeenat

In [ ]:
age = 30
print(age)

30

**Data Types**

Python supports the most common types, the usual suspects we could say:

Integers, type int:

Integers have unlimited magnitude

In [ ]:
# an int
age = 30

In [ ]:
type(age)

int

**Floats, type float:**

The standard floating point number

In [ ]:
# a float
price = 3.50

In [ ]:
type(price)

float

Sometimes floats exhibit "extraneous" behaviour:

In [ ]:
0.1 * 3

0.30000000000000004

If you need decimal fixed point precision, you can use the **decimal** module:

In [ ]:
from decimal import Decimal

In [ ]:
Decimal('0.1') * 3

Decimal('0.3')

**Strings, type str**

Strings are used to store text. Technically they're "immutable sequence of Unicode code points". Which means that Python supports Unicode:

In [ ]:
# Create them with double quotes:
print("Hellow Unicode")

Hellow Unicode

In [ ]:
# single quotes:
print('Omelette Du Fromage')

Omelette Du Fromage

In [ ]:
type ('Hello World')

str

In [ ]:
len("Hellow")

6

We can use double or single quptes, it's the same. We also have "multi-line" strings, that are created with pair of 3 quotes (simple or double, either works):

In [ ]:
joke = """
Me: What's the best thing about Switzerland ?
Friend : I don't know , What ?
Me :  I don't know but flag is a big plus
"""

print(joke)

Me: What's the best thing about Switzerland ?
Friend : I don't know , What ?
Me :  I don't know but flag is a big plus

**Booleans, type bool**

Python booleans are as simple as they get : True and False, **capatilized**

In [ ]:
True

True

In [ ]:
type(False)

bool

Noen, type NoneType

As other languages have null, in Python we have None, which pretty much repreents the absence of value

In [ ]:
x = None

In [ ]:
x

In [ ]:
print(x)

None

In [ ]:
type(None)

NoneType

**int, float, str and bool objects and functions**

We'll often see some of these "keywords/names" used both as functions and as an individual objects. When used as a functions their uses to transform or cast objects into the corresponding type

In [ ]:
age_as_string = "28"

In [ ]:
type(age_as_string)

str

In [ ]:
int(age_as_string)

28

In [ ]:
age = int(age_as_string)

In [ ]:
type(age)

int

Their use is mostly associated with their type.

In [ ]:
type(13) == int

True

**Functions**

Functions in Python are very intutive.
Let's start with a function with without parameter

In [ ]:
def hellow():
  return " Hellow World"

The def keyword indicate the defination of a function, followed by a name and list of arguments(which this function not receive)

Thr return statement use to break the flow of the function and return a value back to the caller

In [ ]:
result = hellow()

NameError: name 'hellow' is not defined

In [ ]:
result

NameError: name 'result' is not defined

If a function explicitly include a return statement, Python will return None by default.

In [ ]:
def empty():
  x= 3

In [ ]:
result =  empty()

In [ ]:
print(result)

None

**Receiving Paramenters**

There is a lot that can be done with Python parameters, including default and named paramenters and even variable/dynamic ones.

Function parameters are listed at the function defination and they are the part of function's local scope.

In [ ]:
def add(x,y):
  return x+y

In [ ]:
add(2,3)

5

We can also define functions that accept variable number of arguments, using the star args

In [ ]:
def add(*args):
  return sum(args)

In [ ]:
add(1,1,1)

3

In [ ]:
add(1)

1

**Operators**

Both arithmatic and boolean operators are available, for example

**Arithmetic operators**

In [ ]:
3+3

6

In [ ]:
11%7

4

In [ ]:
2**4

16

Precedence can be consulted on the official docs, But for the most part precedence is similar to the usual to arithmatic

In [ ]:
3+4*5

23

In [ ]:
3+4*2**3

35

**Boolean operators**

Regular comparison operators are available

In [ ]:
7>3

True

In [ ]:
8>=8

True

Python is srongly typed, so comparison between different type will fail if these types are not compatible

In [ ]:
8>"abd"

TypeError: '>' not supported between instances of 'int' and 'str'

Python also has other common boolean operators like and, or, not etc.

In [ ]:
True and True

True

In [ ]:
not False

True

In [ ]:
False or True

True

**Control flow **

Python supports the most common control flow blocks, they are defined with **indentation**

**if/else/elif statements**

In [ ]:
days_subscribed = 28

In [ ]:
if days_subscribed >=30:
  print("Loyal customer")
elif days_subscribed >=15:
  print("Halfway there")
else :
  print("too early")

Halfway there

**For loops**

For loops in Python are different than other lang, specially those C/Java

For loops are designed to iterate over **collection**.

In [ ]:
names = ['Monika', 'Ross', 'Chandler', 'Joey', 'Rachel']

In [ ]:
for name in names:
  print(name)

Monika
Ross
Chandler
Joey
Rachel

**While loops**

While loops are seldom used in Python. For loops are the preffered choice 99%.
But still its available

In [ ]:
count = 0

In [ ]:
while count <= 3:
  print("counting...")
  count +=1

counting...
counting...
counting...
counting...

**Collections**

Python has multiple versatile collection types, each with different features and capabilities.

1.Lists
2.Tuples
3.Dictonaries
4.Sets

**Lists**

Lists are mutable, ordered sequences. We could argue, the most common collection type.

In [ ]:
l = [3, 'Hello World', True]

In [ ]:
len(l)

3

List elements are accessed using sequential indices **(starting from 0)**

In [ ]:
l[0]

3

In [ ]:
l[1]

'Hello World'

Negative indices are also supported

In [ ]:
l[-1]

True

In [ ]:
l[-2]

'Hello World'

Lists have many useful methods to add/remove elements

In [ ]:
l.append('Python 2')

In [ ]:
l

[3, 'Hello World', True, 'Python 2']

In [ ]:
'Python 2' in l

True

In [ ]:
'Ruby+' in l

False

**Tuples**

Tuples are very simlar to lists, but with a huge difference:
**They are immutable** That means it can't be further modified

In [ ]:
t = (3, 'Hello Workd', True)

Indexing works in the same way

In [ ]:
t[0]

3

In [ ]:
t[-1]

True

In [ ]:
'Hellow World ' in t

False

But there is no way of modifying them

**Dictionaries**

Dictonaries are mao-like collections that stores value under a key. The key must be immutable object we usually employ string for keys

Dictonaries are **mutable** and most importatnt **unordered**

In [ ]:
user = {
    "name": "Mary Smith",
    "email": "marysmith@gmail.com",
    "age": 30,
    "subscribed": True
}

In [ ]:
user

{'name': 'Mary Smith',
 'email': 'marysmith@gmail.com',
 'age': 30,
 'subscribed': True}

In [ ]:
user[1]

KeyError: 1

Access is by key, also using square brackets

In [ ]:
user['email']

'marysmith@gmail.com'

In [ ]:
'age' in user

True

In [ ]:
'lastname' in user

False

**Sets**

Sets are inordered collection the unique charasteristics is that they only contain unique elements

In [ ]:
s = {3,1,3,7,9,1,3,1}

In [ ]:
s

{1, 3, 7, 9}

REpeatiting elements are not there

In [ ]:
s.add(10)

In [ ]:
s.pop()

1

**Iterating Collections**

Python for loop is designed for iterate over collections

In [ ]:
l = [3, 'Hello World', True]

In [ ]:
for elem in l :
  print(elem)

3
Hello World
True

In [ ]:
for key in user:
  print(key.title(),'=>', user[key])

Name => Mary Smith
Email => marysmith@gmail.com
Age => 30
Subscribed => True

In [ ]:
for i in range(5):
  print (i)

0
1
2
3
4

**Modules**

One of the best features of Python as a language , is its rich buit in library

In [ ]:
import random

In [ ]:
random.randint(0,50)

33

**Exceptions**

Exceptions are raised at runtime when an abnormal situation is produced in program.

Exceptions can also be constructed and raised by our code.
Example by exception :

In [ ]:
age = "30"

In [ ]:
if age >21:
  print("Allowed")

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
try:
  if age>21:
    print("Allowe")
except:
  print("Something went worong")

Something went worong

The except portion can receive also be parametrized with the expected exception :

In [ ]:
try:
  if age>21:
    print("Allowed")
except TypeError:
  print("Age is probably a wrong type")

Age is probably a wrong type